POSTGRES_URL=postgresql://postgres:password@localhost:5432/broken_crystals

# can be generated with Random::Secure.hex
SESSION_SECRET=8d499bd93a77b9ff67e56ad6d3c249de 

PUBLIC_PATH=/opt/broken_crystals/public
