<html>
  <head>
    <title>Welcome to Broken Crystals!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    <h1>Have fun and keep safe!</h1>
    <ul>
      <li><a href="/headers">Check your headers!</a></li>
      <li><a href="/greeter">Let's get to know you a bit more :)</a></li>
      <li> <a href="/cookies">Cookies? Yum!</a></li>
      <li> <a href="/oops">Don't click this link, still working on that</a></li>
      <li> <a href="/uptime?command=uptime">What's our uptime?</a></li>
      <li> <a href="/picture?url=https://www.neuralegion.com/wp-content/themes/Neural/assets/images/NeuraLegionLogoAlt.png">Get me a cool picture!</a></li>
      <li> <a href="/redirect?url=https://www.neuralegion.com/">Come say hello to our website!</a></li>
      <li> <a href="/xss_one?id=1">XSS One</a></li>
      <li> <a href="/xss_two?id=2">XSS Two</a></li>
      <li> <a href="/xss_three?id=3">XSS Three</a></li>
      <li> <a href="/xss_four?id=4">XSS Four</a></li>
      <li> <a href="/xss_five?id=5">XSS Five</a></li>
      <li> <a href="/xss_six?id=6">XSS Six</a></li>
      <li> <a href="/dom_xss">DOM XSS</a></li>
      <li> <a href="/dom_xss2">DOM XSS 2</a></li>
      <li> <a href="/lfi_one?image=crystals_1.jpg">LFI One</a></li>
      <li> <a href="/lfi_two?image=crystals_1.jpg">LFI Two</a></li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
