<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="shop/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="shop/favicon.png" rel="icon">
    <meta name="author" content="Nghia Minh Luong">
    <meta name="keywords" content="Default Description">
    <meta name="description" content="Default keyword">
    <title><%= title %></title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="shop/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="shop/plugins/ps-icon/style.css">
    <!-- CSS Library-->
    <link rel="stylesheet" href="shop/plugins/bootstrap/dist/css/bootstrap.min.css">
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="shop/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="shop/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="shop/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="shop/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="shop/plugins/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="shop/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="shop/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="shop/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="shop/plugins/revolution/css/navigation.css">
    <!-- Custom-->
    <link rel="stylesheet" href="shop/css/style.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
  <style>
  </style>
  <body class="ps-loading">
    <header id="header" class="">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <!-- Uncomment below if you prefer to use an image logo -->
           <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid">
             BROKEN CRYSTALS
           </a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/marketplace">Marketplace</a></li>
              <li class="drop-down"><a href="">Gemstones</a>
                <ul>
                  <li><a href="#">Gemstone 1</a></li>
                  <li><a href="#">Gemstone 2</a></li>
                  <li><a href="#">Gemstone 3</a></li>
                  <li><a href="#">Gemstone 4</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="">Healing</a>
                <ul>
                  <li><a href="#">Healing 1</a></li>
                  <li><a href="#">Healing 2</a></li>
                  <li><a href="#">Healing 3</a></li>
                  <li><a href="#">Healing 4</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="">Jewellery</a>
                <ul>
                  <li><a href="#">Jewellery 1</a></li>
                  <li><a href="#">Jewellery 2</a></li>
                  <li><a href="#">Jewellery 3</a></li>
                  <li><a href="#">Jewellery 4</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="/vulns">Vulnerabilities</a></li>

            </ul>
          </nav><!-- .nav-menu -->

          <a href="/login" class="get-started-btn scrollto">Sign in</a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->

    <main class="ps-main">
      <%= content %>
    </main>
      <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="/" class="logo mr-auto"><img width=100 height=100 src="assets/img/logo.png" alt="" class="img-fluid"></a>
            <h3>BROKEN CRYSTALS</h3>

            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>Broken Crystals</span></strong>. All Rights Reserved
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->
    <!-- JS Library-->
    <script type="text/javascript" src="shop/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="shop/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="shop/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="shop/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="shop/plugins/gmap3.min.js"></script>
    <script type="text/javascript" src="shop/plugins/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="shop/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="shop/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="shop/plugins/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="shop/plugins/slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="shop/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="shop/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="shop/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="shop/https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script><script type="text/javascript" src="shop/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="shop/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="shop/js/main.js"></script>
  </body>
</html>

