<html>
  <head>
    <title>Welcome to Broken Crystals!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
<div class="container">
	<form class="form-style" action="/register" method="post">
		<div class="header">
      <div class="example-icon" >BrokenCrystals</div>
      <small>Register to our app</small>
		</div>
    <hr>
		<div class="content">
        <label for="inp" class="inp">
          <input name="username" type="text" id="inp" placeholder="&nbsp;">
          <span class="label">Username</span>
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input name="email" type="text" id="inp" placeholder="&nbsp;">
          <span class="label">Email</span>
          <span class="border"></span>
        </label>
        <label for="inp" class="inp">
          <input name="password" type="password" id="inp" placeholder="&nbsp;">
          <span class="label">Password</span>
          <span class="border"></span>
        </label>
      
		</div>
    <hr>
		<div class="footer">
      <input type="submit" name="submit" value="Register" class="bton register" />
		</div>
	</form>
</div>

  </body>
</html>
